## OS X
.DS_Store

## Editors
*.sublime-*
*.swp
*.swo
.idea/

## Translation files
lang/*.merged

## Specific dependencies
node_modules
vendor
bin

## build artifacts
_build
.phpunit.result.cache
*.map
